.div-4 {
    font-family: Verdana, sans-serif;
}

.span-1 {
    color: #ffc200
}
.div-5 {
    font-family: Merriweather, Georgia, serif;
}

.div-6 {
    font-family: Georgia, serif; color: #666; font-size: 14px; font-style: italic;
}